<section class="faq__container">
    <header class="section-header">FAQ header</header>
</section>

<style>
    .faq__container {
        width: 90vw;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid var(--color-border); 
    }
</style>