<!-- This components contain security feature, analytic feature
 , kpi feature, monitoring feature, and more button -->

<section class="features__container">
    <header class="section-header">Features header</header>
    <div class="highlight-feature-1">Security</div>
    <div class="highlight-feature-2">Performance</div>
    <div class="highlight-feature-3">Management</div>
</section>

<style>
    /* Basic styles */
    .features__container {
        width: 90vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid var(--color-border); 
    }

    @media (max-width: 680px) {
        
    }

    @media (max-width: 880px) {
        
    }

    @media (max-width: 1080px) {
        
    }
    
</style>