<!-- This components contain CTA button, a simple desc
 and a dashboard image -->

<section class="hero__section">
    <div class="upper-container">
        <p>Text untuk Hero section</p>
        <button>CTA Booking</button>
        <button>CTA Explore</button>
    </div>
    <div class="lower-container">
        <p>Gallery</p>
    </div>
</section>

<style>
    /* Basic styles */
    .hero__section {
        width: 90vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid var(--color-border);
    }

    @media (max-width: 680px) {
        
    }

    @media (max-width: 880px) {
        
    }

    @media (max-width: 1080px) {
        
    }
    
</style>