<!-- This component must contain explanation of
 google workspace integration -->

<section class="integration__container">
    <header class="section-header">
        <div class="section-title-container">
            <div class="section-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="var(--color-text)" d="M22.132 10.033a.5.5 0 0 0-.492-.41h-9.418a.5.5 0 0 0-.5.498v3.869a.5.5 0 0 0 .5.5h4.735a4.14 4.14 0 0 1-1.627 2.103a5.55 5.55 0 0 1-3.108.87A5.43 5.43 0 0 1 7.1 13.682v-.002a5.4 5.4 0 0 1 0-3.48v-.002a5.43 5.43 0 0 1 5.12-3.781a4.93 4.93 0 0 1 3.48 1.357a.5.5 0 0 0 .7-.007l2.868-2.869a.5.5 0 0 0-.013-.72a10.14 10.14 0 0 0-7.032-2.738A10.45 10.45 0 0 0 2.84 7.225a10.51 10.51 0 0 0 0 9.43a10.45 10.45 0 0 0 9.383 5.785a10.03 10.03 0 0 0 6.952-2.552l.005-.002a10.3 10.3 0 0 0 3.143-7.719c0-.716-.064-1.43-.19-2.134m-9.91-7.593a9.15 9.15 0 0 1 5.962 2.127l-2.16 2.16a5.94 5.94 0 0 0-3.802-1.31a6.41 6.41 0 0 0-5.817 3.818l-2.48-1.924a9.45 9.45 0 0 1 8.297-4.87m-9.5 9.5a9.4 9.4 0 0 1 .753-3.71l2.573 1.994a6.4 6.4 0 0 0 0 3.431L3.476 15.65a9.6 9.6 0 0 1-.754-3.71m9.5 9.5a9.45 9.45 0 0 1-8.298-4.871l2.481-1.924a6.41 6.41 0 0 0 5.817 3.818a6.67 6.67 0 0 0 3.355-.847l.11.085l2.363 1.836a9.2 9.2 0 0 1-5.828 1.903m6.582-2.584l-2.378-1.846a5.1 5.1 0 0 0 1.669-2.929a.5.5 0 0 0-.491-.59h-4.882v-2.869h8.492q.108.769.108 1.545a9.42 9.42 0 0 1-2.518 6.69" />
                </svg>
                <p>Integration</p>
            </div>
        </div>
        <h2>
            Boost productivity with <span>Google Workspace</span> integration.
        </h2>
        <p>
            MERPS seamlessly unifies your Google Workspace directly into your workflow, designed for deep work.
        </p>
    </header>
    <div class="gworkspace-container">
        <div class="item">
            <header>
                <h3>Google Task</h3>
            </header>
            <div class="content">
                <p>
                    Manage daily priorities without friction. 
                    Create and track essential tasks directly 
                    from your dashboard to keep your project workflow on schedule.
                </p>
            </div>
            <footer>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="40" 
                    height="40" 
                    viewBox="0 0 24 24"
                    class="g-image"
                >
                    <path 
                        fill="#4285F4" 
                        d="M11.383.617C5.097.617 0 5.714 0 12s5.097 11.383 11.383 11.383S22.763 18.286 22.763 12a11.3 11.3 0 0 0-.878-4.389l-3.203 3.203c.062.387.1.782.1 1.186a7.398 7.398 0 1 1-7.4-7.398c1.499 0 2.889.448 4.054 1.214l2.857-2.857a11.33 11.33 0 0 0-6.91-2.342m9.674.756c-.292 0-.583.112-.805.334q-4.453 4.449-8.9 8.902L9.596 8.854a1.14 1.14 0 0 0-1.61 0l-1.775 1.773a1.14 1.14 0 0 0 0 1.61l4.166 4.163a1.42 1.42 0 0 0 2.012 0L23.666 5.121a1.136 1.136 0 0 0 0-1.61l-1.805-1.804a1.14 1.14 0 0 0-.804-.334" 
                    />
                </svg>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24"
                >
                    <path 
                        fill="none" 
                        stroke="var(--color-text)" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M17 7L7 17M8 7h9v9"
                    />
                </svg>
            </footer>
        </div>
        <div class="item">
            <header>
                <h3>Google Calendar</h3>
            </header>
            <div class="content">
                <p>
                    Sync schedules and deadlines in real-time. 
                    Manage meeting agendas and project timelines within a 
                    unified view for better team coordination.
                </p>
            </div>
            <footer>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="42" viewBox="0 0 256 256">
                    <path fill="#fff" d="M195.368 60.632H60.632v134.736h134.736z" />
                    <path fill="#ea4335" d="M195.368 256L256 195.368l-30.316-5.172l-30.316 5.172l-5.533 27.73z" />
                    <path fill="#188038" d="M0 195.368v40.421C0 246.956 9.044 256 20.21 256h40.422l6.225-30.316l-6.225-30.316l-33.033-5.172z" />
                    <path fill="#1967d2" d="M256 60.632V20.21C256 9.044 246.956 0 235.79 0h-40.422q-5.532 22.554-5.533 33.196q0 10.641 5.533 27.436q20.115 5.76 30.316 5.76T256 60.631" />
                    <path fill="#fbbc04" d="M256 60.632h-60.632v134.736H256z" />
                    <path fill="#34a853" d="M195.368 195.368H60.632V256h134.736z" />
                    <path fill="#4285f4" d="M195.368 0H20.211C9.044 0 0 9.044 0 20.21v175.158h60.632V60.632h134.736z" />
                    <path fill="#4285f4" d="M88.27 165.154c-5.036-3.402-8.523-8.37-10.426-14.94l11.689-4.816q1.59 6.063 5.558 9.398c2.627 2.223 5.827 3.318 9.566 3.318q5.734 0 9.852-3.487c2.746-2.324 4.127-5.288 4.127-8.875q0-5.508-4.345-8.994c-2.897-2.324-6.535-3.486-10.88-3.486h-6.754v-11.57h6.063q5.608 0 9.448-3.033c2.56-2.02 3.84-4.783 3.84-8.303c0-3.132-1.145-5.625-3.435-7.494c-2.29-1.87-5.188-2.813-8.708-2.813c-3.436 0-6.164.91-8.185 2.745a16.1 16.1 0 0 0-4.413 6.754l-11.57-4.817c1.532-4.345 4.345-8.185 8.471-11.503s9.398-4.985 15.798-4.985c4.733 0 8.994.91 12.767 2.745c3.772 1.836 6.736 4.379 8.875 7.613c2.14 3.25 3.2 6.888 3.2 10.93c0 4.126-.993 7.613-2.98 10.476s-4.43 5.052-7.327 6.585v.69a22.25 22.25 0 0 1 9.398 7.327c2.442 3.284 3.672 7.208 3.672 11.79c0 4.58-1.163 8.673-3.487 12.26c-2.324 3.588-5.54 6.417-9.617 8.472c-4.092 2.055-8.69 3.1-13.793 3.1c-5.912.016-11.369-1.685-16.405-5.087m71.797-58.005l-12.833 9.28l-6.417-9.734l23.023-16.607h8.825v78.333h-12.598z" />
                </svg>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24"
                >
                    <path 
                        fill="none" 
                        stroke="var(--color-text)" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M17 7L7 17M8 7h9v9"
                    />
                </svg>
            </footer>
        </div>
        <div class="item">
            <header>
                <h3>Google Mail</h3>                
            </header>
            <div class="content">
                <p>
                    Access business communications instantly. 
                    Manage critical emails without switching tabs for 
                    faster responses and efficient collaboration.
                </p>
            </div>
            <footer>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="42" viewBox="0 0 256 193">
                    <path fill="#4285f4" d="M58.182 192.05V93.14L27.507 65.077L0 49.504v125.091c0 9.658 7.825 17.455 17.455 17.455z" />
                    <path fill="#34a853" d="M197.818 192.05h40.727c9.659 0 17.455-7.826 17.455-17.455V49.505l-31.156 17.837l-27.026 25.798z" />
                    <path fill="#ea4335" d="m58.182 93.14l-4.174-38.647l4.174-36.989L128 69.868l69.818-52.364l4.669 34.992l-4.669 40.644L128 145.504z" />
                    <path fill="#fbbc04" d="M197.818 17.504V93.14L256 49.504V26.231c0-21.585-24.64-33.89-41.89-20.945z" />
                    <path fill="#c5221f" d="m0 49.504l26.759 20.07L58.182 93.14V17.504L41.89 5.286C24.61-7.66 0 4.646 0 26.23z" />
                </svg>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24"
                >
                    <path 
                        fill="none" 
                        stroke="var(--color-text)" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M17 7L7 17M8 7h9v9"
                    />
                </svg>
            </footer>
        </div>
        <div class="item">
            <header>
                <h3>Google Drive</h3>
            </header>
            <div class="content">
                <p>
                    A smart hub for your digital assets. Securely manage, organize, 
                    and access vital documents at high speed with enterprise-grade security.
                </p>
            </div>
            <footer>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="42" viewBox="0 0 256 229">
                    <path fill="#0066da" d="m19.354 196.034l11.29 19.5c2.346 4.106 5.718 7.332 9.677 9.678q17.009-21.591 23.68-33.137q6.77-11.717 16.641-36.655q-26.604-3.502-40.32-3.502q-13.165 0-40.322 3.502c0 4.545 1.173 9.09 3.519 13.196z" />
                    <path fill="#ea4335" d="M215.681 225.212c3.96-2.346 7.332-5.572 9.677-9.677l4.692-8.064l22.434-38.855a26.57 26.57 0 0 0 3.518-13.196q-27.315-3.502-40.247-3.502q-13.899 0-40.248 3.502q9.754 25.075 16.422 36.655q6.724 11.683 23.752 33.137" />
                    <path fill="#00832d" d="M128.001 73.311q19.68-23.768 27.125-36.655q5.996-10.377 13.196-33.137C164.363 1.173 159.818 0 155.126 0h-54.25C96.184 0 91.64 1.32 87.68 3.519q9.16 26.103 15.544 37.154q7.056 12.213 24.777 32.638" />
                    <path fill="#2684fc" d="M175.36 155.42H80.642l-40.32 69.792c3.958 2.346 8.503 3.519 13.195 3.519h148.968c4.692 0 9.238-1.32 13.196-3.52z" />
                    <path fill="#00ac47" d="M128.001 73.311L87.681 3.52c-3.96 2.346-7.332 5.571-9.678 9.677L3.519 142.224A26.57 26.57 0 0 0 0 155.42h80.642z" />
                    <path fill="#ffba00" d="m215.242 77.71l-37.243-64.514c-2.345-4.106-5.718-7.331-9.677-9.677l-40.32 69.792l47.358 82.109h80.496c0-4.546-1.173-9.09-3.519-13.196z" />
                </svg>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24"
                >
                    <path 
                        fill="none" 
                        stroke="var(--color-text)" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M17 7L7 17M8 7h9v9"
                    />
                </svg>
            </footer>
        </div>
        <div class="item">
            <header>
                <h3>Google Meet</h3>
            </header>
            <div class="content">
                <p>
                    Launch face-to-face collaboration with one click. 
                    Instantly generate and share meeting links for seamless 
                    team coordination anywhere.
                </p>
            </div>
            <footer>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="42" viewBox="0 0 256 211">
                    <path fill="#00832d" d="m144.822 105.322l24.957 28.527l33.562 21.445l5.838-49.792l-5.838-48.669l-34.205 18.839z" />
                    <path fill="#0066da" d="M0 150.66v42.43c0 9.688 7.864 17.554 17.554 17.554h42.43l8.786-32.059l-8.786-27.925l-29.11-8.786z" />
                    <path fill="#e94235" d="M59.984 0L0 59.984l30.876 8.765l29.108-8.765l8.626-27.545z" />
                    <path fill="#2684fc" d="M.001 150.679h59.983V59.983H.001z" />
                    <path fill="#00ac47" d="M241.659 25.398L203.34 56.834v98.46l38.477 31.558c5.76 4.512 14.186.4 14.186-6.922V32.18c0-7.403-8.627-11.495-14.345-6.781" />
                    <path fill="#00ac47" d="M144.822 105.322v45.338H59.984v59.984h125.804c9.69 0 17.553-7.866 17.553-17.554v-37.796z" />
                    <path fill="#ffba00" d="M185.788 0H59.984v59.984h84.838v45.338l58.52-48.49V17.555c0-9.69-7.864-17.554-17.554-17.554" />
                </svg>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24"
                >
                    <path 
                        fill="none" 
                        stroke="var(--color-text)" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M17 7L7 17M8 7h9v9"
                    />
                </svg>
            </footer>
        </div>
        <div class="item">
            <header>
                <h3>Google Sheets</h3>
            </header>
            <div class="content">
                <p>
                    Turn raw data into insights. Leverage powerful 
                    spreadsheets for financial analysis with automated 
                    exports from your mini ERP system.
                </p>
            </div>
            <footer>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="42" viewBox="0 0 24 24">
                    <path fill="#4285F4" d="M11.318 12.545H7.91v-1.909h3.41v1.91zM14.728 0v6h6zm1.363 10.636h-3.41v1.91h3.41zm0 3.273h-3.41v1.91h3.41zM20.727 6.5v15.864c0 .904-.732 1.636-1.636 1.636H4.909a1.636 1.636 0 0 1-1.636-1.636V1.636C3.273.732 4.005 0 4.909 0h9.318v6.5zm-3.273 2.773H6.545v7.909h10.91v-7.91zm-6.136 4.636H7.91v1.91h3.41v-1.91z" />
                </svg>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24"
                >
                    <path 
                        fill="none" 
                        stroke="var(--color-text)" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M17 7L7 17M8 7h9v9"
                    />
                </svg>
            </footer>
        </div>
        <div class="item">
            <header>
                <h3>Google Gemini</h3>
            </header>
            <div class="content">
                <p>
                    Your intelligent dashboard companion. Get 
                    AI-powered hints and guided assistance to 
                    navigate your mini ERP features more efficiently
                </p>
            </div>
            <footer>
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="55" viewBox="0 0 512 188">
                    <defs>
                        <radialGradient id="SVGugPlDb0c" cx="85.738%" cy="25.354%" r="103.154%" fx="85.738%" fy="25.354%" gradientTransform="matrix(-.86887 .47915 -.39276 -.66723 1.702 .012)">
                            <stop offset="0%" stop-color="#5baeff" />
                            <stop offset="100%" stop-color="#9cbfff" />
                        </radialGradient>
                        <radialGradient id="SVG72Ys5bNa" cx="61.879%" cy="26.683%" r="80.612%" fx="61.879%" fy="26.683%" gradientTransform="scale(-1 -.9195)rotate(-81.526 -.323 .706)">
                            <stop offset="0%" stop-color="#409dff" />
                            <stop offset="100%" stop-color="#64b0ff" />
                        </radialGradient>
                        <radialGradient id="SVG4eaTnw8h" cx="53.184%" cy="19.021%" r="110.789%" fx="53.184%" fy="19.021%" gradientTransform="scale(-.6801 -1)rotate(-76.197 -.368 .838)">
                            <stop offset="0%" stop-color="#177cff" />
                            <stop offset="100%" stop-color="#4da4ff" />
                        </radialGradient>
                        <radialGradient id="SVGYzHxAeIP" cx="-182.665%" cy="10.869%" r="521.404%" fx="-182.665%" fy="10.869%" gradientTransform="scale(1 .1796)rotate(65.413 -2.213 .357)">
                            <stop offset="0%" stop-color="#1c7aff" />
                            <stop offset="100%" stop-color="#76a9ff" />
                            <stop offset="100%" stop-color="#8fb9ff" />
                        </radialGradient>
                        <linearGradient id="SVGDT5HPc7I" x1="48.887%" x2="48.887%" y1="8.809%" y2="100%">
                            <stop offset="0%" stop-color="#076eff" />
                            <stop offset="100%" stop-color="#3e93ff" />
                        </linearGradient>
                        <linearGradient id="SVGtBxtLqFL" x1="13.217%" x2="78.598%" y1="0%" y2="94.201%">
                            <stop offset="0%" stop-color="#076eff" />
                            <stop offset="100%" stop-color="#69a3ff" />
                        </linearGradient>
                    </defs>
                    <path fill="url(#SVGugPlDb0c)" d="M125.939 126.64q0 26.094-15.482 41.575q-17.395 18.438-45.748 18.438q-27.135 0-45.923-18.786Q0 149.08 0 121.597q0-27.485 18.786-46.27Q37.573 56.54 64.71 56.54q13.741 0 25.918 4.87t20.004 13.742l-11.48 11.48q-5.74-6.957-14.873-10.871t-19.57-3.914q-20.351 0-34.441 14.09q-13.916 14.264-13.916 35.66t13.916 35.659q14.09 14.09 34.442 14.09q18.613 0 30.963-10.437t14.263-28.702H64.71v-14.96h60.36q.87 4.872.87 9.394" />
                    <path fill="url(#SVG72Ys5bNa)" d="M176.17 96.205q19.152 0 30.485 12.387q11.334 12.388 11.334 34.703l-.176 1.757h-67.648q.352 12.651 8.434 20.382q8.083 7.73 19.328 7.73q15.462 0 24.248-15.461l14.408 7.028q-5.799 10.894-16.077 17.044t-23.282 6.15q-18.976 0-31.276-13.003t-12.299-32.857q0-19.68 11.948-32.77t30.573-13.09m-.351 14.76q-9.137 0-15.726 5.622q-6.59 5.623-8.698 15.11h49.374q-.702-8.96-7.292-14.846t-17.658-5.887" />
                    <path fill="url(#SVG4eaTnw8h)" d="M244.493 184.843h-16.116V99.008h15.416v11.912h.7q3.68-6.306 11.299-10.51q7.62-4.206 15.153-4.205q9.459 0 16.641 4.38q7.182 4.379 10.51 12.086q10.687-16.466 29.605-16.466q14.89 0 22.948 9.11q8.058 9.108 8.058 25.925v53.603h-16.116v-51.15q0-12.088-4.38-17.43q-4.379-5.343-14.714-5.343q-9.285 0-15.59 7.883q-6.307 7.882-6.307 18.568v47.472h-16.116v-51.15q0-12.088-4.38-17.43q-4.379-5.343-14.714-5.343q-9.285 0-15.59 7.883q-6.307 7.882-6.307 18.568z" />
                    <path fill="url(#SVGDT5HPc7I)" d="M393.263 69.216q0 4.737-3.334 8.07q-3.334 3.335-8.071 3.335t-8.071-3.334t-3.334-8.071q0-4.738 3.334-8.071q3.334-3.334 8.07-3.334q4.74 0 8.072 3.334q3.334 3.334 3.334 8.07m-3.334 29.652v85.975h-16.142V98.868z" />
                    <path fill="url(#SVGYzHxAeIP)" d="M512 69.216q0 4.737-3.334 8.07q-3.334 3.335-8.07 3.335q-4.74 0-8.072-3.334q-3.333-3.334-3.334-8.071q0-4.738 3.334-8.071q3.334-3.334 8.071-3.334t8.071 3.334t3.334 8.07m-3.334 29.652v85.975h-16.142V98.868z" />
                    <path fill="url(#SVGtBxtLqFL)" d="M404.004 99.008h15.415v11.912h.7q3.68-6.306 11.3-10.51q7.62-4.206 15.853-4.205q15.765 0 24.261 9.022q8.496 9.02 8.496 25.663v53.953h-16.116v-52.902q-.526-21.021-21.196-21.021q-9.634 0-16.116 7.795t-6.481 18.656v47.472h-16.116z" />
                    <path fill="#076eff" d="M348.374 72.76c-2.846-18.788-17.592-33.533-36.38-36.38c18.788-2.847 33.534-17.593 36.38-36.38c2.847 18.787 17.593 33.533 36.38 36.38c-18.787 2.847-33.533 17.592-36.38 36.38" />
                </svg>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24"
                >
                    <path 
                        fill="none" 
                        stroke="var(--color-text)" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M17 7L7 17M8 7h9v9"
                    />
                </svg>
            </footer>
        </div>
        <div class="item">
            <header>
                <h3>Google Slides</h3>
            </header>
            <div class="content">
                <p>
                    Transform data into professional 
                    presentations. Create dynamic, 
                    collaborative slide decks using real-time information 
                    from your mini ERP system to deliver high-impact business reports.          
                </p>
            </div>
            <footer>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="42" viewBox="0 0 24 24">
                    <path fill="#FBBC04" d="M16.09 15.273H7.91v-4.637h8.18zm1.728-8.523h2.91v15.614c0 .904-.733 1.636-1.637 1.636H4.909a1.636 1.636 0 0 1-1.636-1.636V1.636C3.273.732 4.005 0 4.909 0h9.068v6.75zm-.363 2.523H6.545v7.363h10.91zm-2.728-5.979V6h6.001l-6-6v3.294z" />
                </svg>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24"
                >
                    <path 
                        fill="none" 
                        stroke="var(--color-text)" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M17 7L7 17M8 7h9v9"
                    />
                </svg>
            </footer>
        </div>
    </div>
</section>

<style>
    /* Basic styles */
    .integration__container {
        width: 80vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;    
    }
    .section-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5em;
        text-align: center;
        justify-content: center;
        padding-inline: 4em;
    }
    .section-header .section-title-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .section-header .section-title-container .section-title {
        display: flex;
        align-items: center;
        width: fit-content;
        border: 1px solid var(--color-border);
        gap: .15em;
        padding: .15em .5em;
        border-radius: 18px;
    }
    .section-header .section-title-container .section-title p {
        padding: 0;
        margin: 0;
        font-size: .8rem;
        color: var(--color-primary);
    }
    .section-header h2 span {
        background-color: #E8F0FE;
        padding-inline: .25em;
        color: #1967D2;
    }
    .section-header h2 {
        width: 100%;
        font-weight: 500;
        letter-spacing: 0.25px;
        font-size: 2rem;
    }
    .section-header p {
        width: 100%;
        color: var(--color-text);
        font-weight: 300;
    }
    .gworkspace-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        padding: 0;
        margin: 0;
    }
    .gworkspace-container .item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 210px;
        border: 0.5px solid var(--color-border);
        padding: .5em 1em;
        border-radius: 14px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.030);
        cursor: default;
        transition: all 0.3s ease-in;
    }
    .gworkspace-container .item:hover {
        transform: scale(1.01);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.030);
    }
    .gworkspace-container .item header {
        height: 30px;
        display: flex;
        gap: .55em;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 5px;
        width: fit-content;
        padding-right: 1em;
    }
    .gworkspace-container .item header h3 {
        font-weight: 400;
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    .gworkspace-container .item .content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 50%;
        z-index: 10;

    }
    .gworkspace-container .item .content p {
        font-weight: 300;
        font-size: .85rem;
        margin: 0;
        padding: 0;
        color: var(--color-text);
    }
    .gworkspace-container .item footer {
        display: flex;
        justify-content: space-between;
        height: 20%;
        z-index: 9;
    }
    .gworkspace-container .item footer svg:nth-child(1) {
        position: absolute;
        bottom: 1em;
        left: 1em;
        opacity: 80%;
    }
    .gworkspace-container .item footer svg:nth-child(2) {
        position: absolute;
        bottom: 1em;
        right: 1em;
        cursor: pointer;
    }
    @media (max-width: 680px) {
        
    }

    @media (max-width: 880px) {
        
    }

    @media (max-width: 1080px) {
        
    }
    
</style>