<!-- This component must contain explanation of
 google workspace integration -->

<section class="integration__container">
    <header class="section-header">Integration header</header>
    <div class="gtask-container">Google Task</div>
    <div class="gcalendar-container">Google Calendar</div>
    <div class="gmail-container">Google Mail</div>
    <div class="gdrive-container">Google Drive</div>
</section>

<style>
    /* Basic styles */
    .integration__container {
        width: 90vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid var(--color-border);      
    }

    @media (max-width: 680px) {
        
    }

    @media (max-width: 880px) {
        
    }

    @media (max-width: 1080px) {
        
    }
    
</style>