<!-- This component must explain
 every portals in the erp -->

<section class="portal__showcase-container">
    <header class="section-header">
        <h2>
            Portals
        </h2>
        <p>
            It's our duty to ensure you have robust security, 
            fastest performance, and ehanched management experience
        </p>
    </header>
    <div class="portal-sysadmin-container">Portal System Admin</div>
    <div class="portal-finance-container">Portal Finance</div>
    <div class="portal-hr-container">Portal HR</div>
    <div class="portal-inventory-container">Portal Inventory</div>
    <div class="portal-operational-container">Portal Operational</div>
    <div class="portal-support-container">Portal Support</div>
</section>

<style>
    /* Basic styles */
    .portal__showcase-container {
        width: 90vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid var(--color-border); 
    }

    @media (max-width: 680px) {
        
    }

    @media (max-width: 880px) {
        
    }

    @media (max-width: 1080px) {
        
    }
    
</style>