<!-- This component must contain list of techstack -->

<section class="techstack__container">
    <ul class="techstack-list">
        <li>Astro</li>
        <li>Angular</li>
        <li>ASP.NET Core</li>
        <li>Docker</li>
        <li>Azure</li>
    </ul>
</section>

<style>
    /* Basic styles */
    .techstack__container {
        width: 90vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-border);
    }

    .techstack-list {
        display: flex;
        gap: .5em;
        overflow-x: auto;
        justify-content: center;
        width: fit-content;
        padding: 0;
    }

    .techstack-list li {
        list-style: none;
    }

    @media (max-width: 680px) {
        
    }

    @media (max-width: 880px) {
        
    }

    @media (max-width: 1080px) {
        
    }
    
</style>