<section class="pricing__container">
    <div class="plan-1">
        <h3>Single Multifunctional Portal</h3>
        <p>Start from IDR 30.000.000 or $2,000</p>
    </div>
    <div class="plan-2">
        <h3>Multi RBAC Portal</h3>
        <p>Start from IDR 100.000.000 or $5,500</p>
    </div>
</section>

<style>
    .pricing__container {
        width: 90vw;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid var(--color-border); 
    }
</style>